<!DOCTYPE html>

<html lang="en">
    
    <head>
        <title>BIODATA DIMAS</title>
    </head>

    <body>
        <div class="batman">
            <center>
                <h1 style="background-color: rgb(202, 202, 202); height: 5px; width: 500px;"></h1>
                <img src="{% static 'cv/batman.jpg' %}" alt="Batman" width="150px" height="200px">

            </center>
        </div>

        <div class="BIODATA">
            <center>
                <tr>
                    <td>Dimas Jordan Permana</td>
                </tr>
            </center>

            <center>
                <h2 style="background-color: rgb(202, 202, 202); height: 5px; width: 500px;"></h2>
            </center>

            <div class="ingfo">
                <center>
                    <h3 style="font-style: italic;">Data Pribadi</h3>
                    <table>
                        <tr>
                            <td>Nama</td>
                            <td>:</td>
                            <td>Dimas Jordan Permana</td>
                        </tr>
                        <tr>
                            <td>Tanggal Lahir</td>
                            <td>:</td>
                            <td>13 September 2005</td>
                        </tr>
                        <tr>
                            <td>Alamat</td>
                            <td>:</td>
                            <td>Kota Bandung</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>dijokansimplee@gmail.com</td>
                        </tr>
                        <tr>
                            <td>No.HP</td>
                            <td>:</td>
                            <td>0831-0887-3935</td>
                        </tr>
                </table>
                </center>
            </div>
            <center>
                <h2 style="background-color: rgb(202, 202, 202); height: 5px; width: 500px;"></h2>
            </center>
            <div class="riwayat">
                <center>
                    <h3 style="font-style: italic;">Pendidikan</h4>
                        <table>
                            <tr>
                                <td>SMKN 2 BANDUNG</td>
                                <td>2020-2023</td>
                            </tr>
                        </table>
                    <h3 style="font-style: italic;">Pengalaman</h4>
                        <table>
                            <tr>
                                <td>PKL di DINAS KESEHATAN KOTA BANDUNG</td>
                            </tr>
                        </table>
                    <h3 style="font-style: italic;">Keahlian</h4>
                        <table>
                            <tr>
                                <td>Memiliki skill dalam desain</td>
                            </tr>
                            <tr>
                                <td>Mahir Menggunakan Alucard</td>
                            </tr>
                        </table>
                </center>
            </div>
            <center>
                <h2 style="background-color: rgb(202, 202, 202); height: 5px; width: 500px;"></h2>
            </center>
            <center>
                <tr>
                    <p>Media Sosial :</p>
                    <a href="https://www.instagram.com/dijokansimple/"  target="_blank">Instagram</a>
                </tr>
            </center>
    </div>
    </body>
</html>

